/*
    Document   : base
    Created on : Feb 6, 2010, 10:12:14 PM
    Author     : tamer
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/**************************** Colors ********************
#FAE1C7; /* Light * /
#FFCC99; /* Midum * /
#CF6262; /* Dark * /

#A52A2A; /* Very Dark * / (For Borders etc.
*
#A52A2A (Dark Red)
#D98962 (Redish Beige)
#F6CB6B (Yelowish beige)
#8B6914 (Brownish)
#F9F0C7 (Nearly White)
#BFBFBF (Light Gray)
#6F8069 (Greanish gray)
#7F7F7F (Dark Gray)
#4D4D4D (Darker Gray)
#1A1A1A (Nearly Black)

*********************************************************/




/* Clear */
*  {
	text-decoration:	none;
}

body{
	clear: both;
	margin: 0;
	padding: 0;
	background-color: #F9F0C7; /*  (Nearly White) */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #1A1A1A  /* (Nearly Black) */
}

p, h1, h2, h3, h4, h5 {
	clear: both;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

img  {
	clear: both;
	border: 0;
}

h1 {
	clear: both;
	padding-top: 1em;
	padding-bottom: 0.3em;
	font-weight: bold;
	font-size: 1.3em;
}

h2 {
	clear: both;
	padding-top: 1em;
	padding-bottom: 0.3em;
	font-weight: bold;
	font-size: 1.1em;
}

h3 {
	clear: both;
	padding-top: 1em;
	padding-bottom: 0.3em;
	font-weight: bold;
	font-size: 0.9em;
}

h4 {
	clear: both;
	padding-top: 1em;
	padding-bottom: 0.3em;
	font-weight: bold;
	font-size: 0.8em;
}

h5 {
	clear: both;
	color: #A52A2A; /* (Dark Red) */
	font-size: 0.8em;
	font-weight: bold;
}

table {
	clear: both;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
	vertical-align: middle;
	padding: .5em;
}

th {
	clear: both;
	padding: .5em;
}
td {
	clear: both;
	padding: .5em;
}

dl.table-display
{
	float: left;
	width: 520px;
	margin: 1em 0;
	padding: 0;
	border-bottom: 1px solid #999;
}

.table-display dt
{
	clear: left;
	float: left;
	width: 200px;
	margin: 0;
	padding: 5px;
	border-top: 1px solid #999;
	font-weight: bold;
}

.table-display dd
{
	float: left;
	width: 300px;
	margin: 0;
	padding: 5px;
	border-top: 1px solid #999;
}

.color {
	color: #F9F0C7; /*  (Nearly White) */
	background-color: #8B6914; /* (Brownish) */
}
.color1 {
	color: black;
	background-color: #D98962; /* (Redish Beige) */
}
.color2 {
	color: black;
	background-color: #F6CB6B;  /*(Yelowish beige) */
}

/* This will Fix IE and Hide from IE Mac \*/
	* html ul li { float: left; height: 1%; }
	* html ul li a { height: 1%; }

.clear { clear: both; }
.center { text-align: center; }
/* End */
