/*
    Document   : layout
    Created on : Feb 7, 2010, 12:40:17 AM
    Author     : tamer
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*
 * Colors
#A52A2A (Dark Red)
#D98962 (Redish Beige)
#F6CB6B (Yelowish beige)
#8B6914 (Brownish)
#F9F0C7 (Nearly White)
#BFBFBF (Light Gray)
#6F8069 (Greanish gray)
#7F7F7F (Dark Gray)
#4D4D4D (Darker Gray)
#1A1A1A (Nearly Black)
*/

#wrapper{
	clear: both;
	width:100%;
}

/* CSS Document */
#headercontainer{
	margin-left: 10%;
	margin-right: 10%;
	background-color: #A52A2A; /* (Dark Red) */
}
#maincontainer {
	margin-left: 10%;
	margin-right: 10%;
	background-color: #F6CB6B; /* (Yelowish beige) */
	vertical-align: middle;
}
#maincontainerinner{
    display: block;
    margin: auto;
    padding: 1em;
}

#navcontainer{
	clear: both;
}
#logo{
	position: absolute;
	z-index: 2;
	top: 30px;
	left:6.5%;
	background:url(/asset/img/logo.png) left no-repeat;
	width:251px;
	height:88px;
	font-weight: bold;
}

#header{
	clear: both;
	width:95%;
	height:69px;
	border: 0;
	border-bottom: 1px;
	border-style: solid;
	border-color: GRAY;
}

#title{
	width:95%;
	height:1.5em;
	font-size: 1.5em;
	font-weight: bold;
	color: #F6CB6B; /* (Yelowish beige) */
	margin:auto;
	border: 0;
	border-bottom: 1px;
	border-style: solid;
	border-color: GRAY;
}



#footer{
	clear: both;
	width:100%;
	height:85px;
	margin:auto;
}

#TopMenu {
	height:35px;
	width:80%;
	margin:auto;
	padding: 0;
}

.TopMenu ul {
	margin: 0;
	padding: 0;
	line-height: normal;
}

.TopMenu li {
	list-style: none;
	float: left;
}

.TopMenu a {
	display: block;
	width: 80px;
	height: 20px;
	padding-top: 3px;
	text-decoration: none;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	font-weight:  normal;
	color: #F6CB6B; /* (Yelowish beige) */
	border: none;
}

.TopMenu a:hover, #TopMenu .current_page_item a {
	color: #A52A2A; /* (Dark Red) */
	background: #F9F0C7; /*  (Nearly White) */
	text-decoration: none;
}

.TopMenu .current_page_item a {
	background: #FFFFFF;
	padding-left: 0;
}

.ltsiderbox ul{

	width: 100px;
	float: left;
	margin: 0 0 0 0;
	padding:0;
}
.ltsiderbox ul li{
	width:90px;
	font-size:14px;
	list-style:none;
	text-align: center;
	vertical-align: middle;
	padding:8px;
}

.form fieldset {
	background: #F6CB6B; /* (Yelowish beige) */
	border-color: #A52A2A; /* (Dark Red) */
	margin: 0 0 0 0;
}

.form legend {
	padding: 5px;
	font-weight: bold;
	font-size: 1.2em;
	color: #FFCC99;
	background-color: #A52A2A; /* (Dark Red) */
}


.showoff legend {
	padding: 10px;
	font-weight: bold;
	font-size: 1.2em;
	color: #FFCC99;
	background-color: #A52A2A; /* (Dark Red) */
	-moz-border-radius: 1em 4em 1em 1em;
	border-radius:      1em 4em 1em 1em;
}
.showoff fieldset {
	background: #F6CB6B; /* (Yelowish beige) */
	border-color: #A52A2A; /* (Dark Red) */
	border-width: 5px;
	margin: 0 0 30px 0;
	-moz-border-radius: 0em 4em 1em 1em;
	border-radius:      0em 4em 1em 1em;
}
.w720 {
	width: 720px;
}