/*
    Document   : layout
    Created on : Feb 7, 2010, 12:40:17 AM
    Author     : tamer
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* CSS Document */
#headercontainer{
	margin-left: 10%;
	margin-right: 10%;
	background-color: #A52A2A; /* (Dark Red) */
}

#header{
	/* height:69px; */
	/*background:url(images/header.jpg) top left no-repeat;*/
	margin-left: 20px;
	border: 0;
	border-bottom: 1px;
	border-style: solid;
	border-color: GRAY;
}

#footercontainer{
        margin-left: 10%;
        margin-right: 10%;
}
#maincontainer {
	margin-left: 10%;
	margin-right: 10%;
	background-color: #F6CB6B; /* (Yelowish beige) */
	vertical-align: middle;
}

.maininner div {
	display: inline-block;
}
#maincontainerinner{
    display: block;
    margin: auto;
    padding: 1em;
}

#Menu {
	height:35px;
	width:80%;
	margin:auto;
	padding: 0;
}

#Menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#Menu li {
	float: left;
}

#Menu a {
	display: block;
	width: 80px;
	height: 20px;
	padding-top: 3px;
	text-decoration: none;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: normal;
	color:#4b4b4b;
	border: none;
}

#Menu a:hover, #TopMenu .current_page_item a {
	color:#000000;
	background: #FFFFFF;
	text-decoration: none;
}

#Menu .current_page_item a {
	background: #FFFFFF;
	padding-left: 0;
}