
dl {
	padding-bottom: 0;
}
dt {
	font-weight: bold;

}
dd {
	font-style: italic;
	padding-bottom: 10px;
	padding-left: 30px;
}


#PlanBox {
	margin: 5px;
	padding: 10px;
	vertical-align: middle;
	text-align: left;
	background-color: #CF6262;
	width: 15em;
	-moz-border-radius: 1em 3em 1em 1em;
	border-radius: 1em 3em 1em 1em;
}
#PlanBoxTop {
	font-weight: bold;
	padding: 5px;
	margin: 3px;
	vertical-align: middle;
	text-align: center;
	background-color: #fc9;
	height: 3em;
	width: 16em;
	-moz-border-radius: 1em 4em 1em 4em;
	border-radius: 1em 4em 1em 4em;
}