/*
    Document   : layout
    Created on : Feb 7, 2010, 12:40:17 AM
    Author     : tamer
    Description:
        Purpose of the stylesheet follows.
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* CSS Document */

#headercontainer{
	margin-left: 10%;
	margin-right: 32%;
}

#header{
	margin-left: 20px;
	border: 0;
	border-bottom: 1px;
	border-style: solid;
	border-color: GRAY;
}

#title{
	height:1.5em;
	font-size: 1.5em;
	font-weight: bold;
	margin-left: 20px;
	border: 0;
	border-bottom: 1px;
	border-style: solid;
	border-color: #A52A2A; /* (Dark Red) */
}

#footercontainer{
        margin-left: 10%;
        margin-right: 32%;
}
#maincontainer {
        margin-left: 10%;
        margin-right: 32%;
        /*height: 400px;*/
        vertical-align: middle;
}

#maincontainerinner{
    display: block;
    margin: auto;
    padding: 1em;
}

#rightbar{
	width:30%;
	float: right;
	top: 0;
	right: 0;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
	position:absolute;
	border: 0;
    background-color: #F6CB6B; /* (Yelowish beige) */
}

#rightMenu {
	height:35px;
	width:80%;
	margin:auto;
	padding: 0;
}

#rightMenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#rightMenu li {
	float: left;
}

#rightMenu a {
	display: block;
	width: 80px;
	height: 20px;
	padding-top: 3px;
	text-decoration: none;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: normal;
	color:#4b4b4b;
	border: none;
}

#rightMenu a:hover, #TopMenu .current_page_item a {
	color:#000000;
	background: #FFFFFF;
	text-decoration: none;
}

#rightMenu .current_page_item a {
	background: #FFFFFF;
	padding-left: 0;
}