/*
 * Colors
#A52A2A; (Dark Red)
#D98962; (Redish Beige)
#F6CB6B; (Yelowish beige)
#8B6914; (Brownish)
#F9F0C7; (Nearly White)
#BFBFBF; (Light Gray)
#6F8069; (Greanish gray)
#7F7F7F; (Dark Gray)
#4D4D4D; (Darker Gray)
#1A1A1A; (Nearly Black)
*/

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    background-color: #8B6914; /*  (Brownish) */
    color: #1A1A1A;
    font-family: Tahoma, Verdana, Helvetica, Sans-Serif;
    font-size: 0.9em;
    line-height: 1.3em;
}

p, h1, h2, h3, h4, h5{
    margin-left:  10px;
    margin-right: 10px;
}

h1, h2, h3, h4, h5{
    padding-top: 1em;
    padding-bottom: 0.3em;
}

h1 {
    font-size: 1.5em;
}


h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: #A52A2A; /* (Dark Red) */
}

.left {
    text-align: left;
}


#header {
    height: 80px;
    background: url(http://static.s1.riky.net/img/riky200x70.png) left top no-repeat;
    background-color: #A52A2A; /* (Dark Red) */
}

#header ul {
    vertical-align: top;
    text-align: right;
}

#header li {
    list-style: none;
    float:  right;
}
#header a {
    display: block;
    width: 80px;
    height: 20px;
    padding-top: 1px;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    font-weight: normal;
    color: #F6CB6B; /* (Yelowish beige) */
    border: none;
}
#header a:hover {
    color: #A52A2A; /* (Dark Red) */
    background: #F9F0C7; /* (Nearly White) */
}

#container {
    width: 80%;
    margin-left: 10%;
    background-color: #F6CB6B; /* (Yelowish beige) */
}

#eq3, #eq2 {
    float: left;
    background-color: #F6CB6B; /* (Yelowish beige) */
    height: 450px;
}

#eq3 ul, #eq2 ul{
    margin-left: 2em;
}

#eq3 {
    width: 33%;
    margin: 0.1111111%;
}
#eq2 {
    width: 49%;
    margin: 0.5%;
}

#footer {
    clear: both;
    font-size: 0.8em;
    color: #F6CB6B; /* (Yelowish beige) */
    text-align:center;
}
