/* @group -slides */
#slides { top: 40px; }
.slide { padding: 100px; }
.js .slide { position: absolute; }
/* @end */

/* @group -pagers */
.nav-pager, .nav-prev-next { font-size: 14px; line-height: 14px; list-style: none; margin: 0; overflow: hidden; position: fixed; z-index: 100; }
.nav-pager li, .nav-prev-next li { border: none; float: left; padding: 0; }
.nav-pager a, .nav-prev-next a { display: block; line-height: 12px; }
.nav-pager { bottom: 0; left: 20px; }
.nav-pager li { margin-right: 10px; }
.nav-pager a, .nav-prev-next a { background: #000; color: #fff; padding: 10px 5px; text-decoration: none; }
.nav-pager .current a, .nav-prev-next a:hover { background: gray; color: #fff; }
.nav-prev-next { right: 30em; top: 3em; }
.nav-prev-next li { margin-left: 10px; }
/* @end */

