/*
 * Colors
#A52A2A; (Dark Red)
#D98962; (Redish Beige)
#F6CB6B; (Yelowish beige)
#8B6914; (Brownish)
#F9F0C7; (Nearly White)
#BFBFBF; (Light Gray)
#6F8069; (Greanish gray)
#7F7F7F; (Dark Gray)
#4D4D4D; (Darker Gray)
#1A1A1A; (Nearly Black)
*/

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    background-color: #8B6914; /*  (Brownish) */
    color: #1A1A1A;
    font-family: Tahoma, Verdana, Helvetica, Sans-Serif;
    font-size: 0.9em;
}

p, h1, h2, h3, h4, h5{
    padding-top: .5em;
    padding-right: .5em;
}

h1 {
    font-size: 1.5em;
}


h2 {
    font-size: 1.2em;
    font-weight: bold;
    color: #A52A2A; /* (Dark Red) */
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
}

ul, ol {
    margin: .5em 0 1em 0;
}

li {
    margin-left:1.5em;
}
dl {
    margin-top:1em;
    margin-bottom:1em;
}
dt {
    font-weight:bold;
    margin-top:.5em;}
dd {
    margin-left:2em;
    margin-top:0;
}
.leftth {
    text-align: right;
    vertical-align: top;
    padding-bottom: .5em;
    padding-right: .5em;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

#header {
    height: 50px;
    background-color: #A52A2A; /* (Dark Red) */
}

#logo {
    position:absolute;
    z-index: 70;
    top:0;
    left:0;
}

#title {
    position:absolute;
    z-index: 0;
    top: 25px;
    left:230px;
    text-align: center;
}

#topmenu {
    position:absolute;
    z-index: 10;
    right: 0;
    top:32px;
    text-align: right;
    vertical-align: bottom;
   /* background-color: #A52A2A;  (Dark Red) */
}

.topmenu {
    vertical-align: bottom;
    float:  right;
}

.topmenu span {
    margin-left: 0;
    vertical-align: bottom;
    list-style: none;
}

.topmenu a {
    display: block;
    height: 20px;
    padding: 6px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: #F6CB6B; /* (Yelowish beige) */
    border: none;
}
.topmenu a:hover {
    font-weight: bold;
    color: #A52A2A; /* (Dark Red) */
    background: #8B6914; /* (Nearly White) */
}

.box {
    background-color: #F6CB6B;
    padding:1em 2em 1em 2em;
}

#eq3, #eq2 {
    float: left;
    background-color: #F6CB6B; /* (Yelowish beige) */
}

#eq3 ul, #eq2 ul{
    margin-left: 1em;
}

#eq3 {
    width: 33%;
    margin: 0.1111111%;
}
#eq2 {
    width: 49%;
    margin: 0.5%;
}
#div-1a, #div-1b {
    position:absolute;
    top: 60px;
    right: 1%;
    width: 48%;
    background-color: #F6CB6B; /* (Yelowish beige) */
}

#footer {
    clear: both;
    position:absolute;
    z-index: -10;
    bottom: .5em;
    width: 100%;
    font-size: 0.8em;
    color: #F6CB6B; /* (Yelowish beige) */
    text-align:center;
}

#loading {
    display:none;
    text-align:center;
    position:absolute;
    top:60px;
    left:45%;
    z-index: 100;
}

#flags {
    position:absolute;
    z-index: 90;
    top:0;
    right: 4px;
    border: 0;
}
