/* 
    Document   : layout
    Created on : Feb 7, 2010, 12:40:17 AM
    Author     : tamer
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* CSS Document */


#maincontainerinner{
    display: block;
    width: 95%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

#twoboxleft{
	width:50%;
	padding:10px;
}
#twoboxright{
	width:50%;
	float:right;
	padding:10px;
	border-left: 1px;
	border-left-style: solid;
	border-left-color: GRAY;
}