*  {
  text-decoration:  none;
}

html {
  font-size: 110%;
  -webkit-text-size-adjust: 110%;
  -ms-text-size-adjust: 110%;
}

body {
  font-family: 'Kalam', Georgia, Serif, cursive;
  font-weight: 400;
}

h1 {
    font-size: 1.8em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0 0;
    font-weight: bold;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0 0;
}

h6 {
    font-size: 0.67em;
    margin: 2.33em 0 0;
}


span {
    margin-left: 0.5em;
}

i.Info {
    font-size: 0.8em;
    padding-right: 1em;
    color: gray;
}

span.Link {
    font-size: 1.2em;
}
a {
    text-decoration: none;
}

a:link {
}

a:visited {
    color: gray;
}

a:hover {
    color: #FF0000;
}

a:active {
    color: #0000FF;
}

span.Info {
    font-size: 0.8em;
    padding-right: 1em;
    color: gray;
}

span.Tags {
    background-color: #ddd;
    border: 1px solid #aaa;
    border-radius: 10px;
    font-size: 7.5pt;
    margin-left: 0.25em;
    padding: 0px 0.5em 1px 0.5em;
    text-decoration: none;
}

.right {
  float: right;
}

.vote {
    color: blue;
    font-size: 1.5em;
}
.vote a:link {
    color: green;
}

.vote a:visited {
    color: green;
}


.links {
    margin-top: 0.5em;
    border: 0;
    font-size: 0.9em;
}


.engine {
    background-color: rgba(31,94,164,0.6);
    border-radius: 4px 4px 4px 4px;
    padding: 4px 10px 4px 10px;
    margin-right: 2em;
    border: medium none;
    text-shadow: none;    
    font-size: .6em;
    color: #ffffff;
}

.hostname {
    margin-left: 2em;
    color: gray;
    font-size: .6em;
    font-weight: normal;
}

#footer {
  position: absolute;
  background-repeat: no-repeat;
  right: 0;
  bottom: 0;
  z-index: -10;
  text-align: right;  
  font-size: .8em;
  font-weight: normal;
  color: gray;
}

#sync {
    font-size: 1.7em;
}

#sync .on {
    color: red;
}


#inputSearch {
    background: url('http://static.localhost/ico/search.gif') no-repeat;
    background-size: auto 1.5em;
    background-position: right;
    font-size: 1em;
}


input[type="text"] {
  padding: .6em;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

.row {
    margin: 1em;
    padding-bottom: .1em;
    box-shadow: 3px 3px 1px #888888;
}
.col {
    display: inline-block;  
    vertical-align:middle;
}

.tabs {
  position: relative;
  clear: both;
  margin: 1em 0;
}

.tab {
  float: left;
  display: none;
}

#tab-1 {
  display: block;
}


.content {
  position: absolute;
  background: #ffffff;
  top: 1em;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  border-top: 1px solid #ccc; 
}

#logoblog {
  position: absolute;
  background-repeat: no-repeat;
  top:0;
  left:0;
  text-align: left;
  display: inline;
  font-size: 1.1em;
  font-weight: 700;
}


/*
#banner {
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  text-align: center;
}
#bannerinner {
  color: blue;
  background-color: #ffffff;
  border-radius: 0.8em;
  margin: 15%;
}
*/

