
.icon-mail-empty:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-save:before { content: '\e803'; } /* '' */
.icon-upload:before { content: '\e804'; } /* '' */
.icon-tag:before { content: '\e805'; } /* '' */
.icon-videocam:before { content: '\e806'; } /* '' */
.icon-thumbs-uped:before { content: '\e807'; } /* '' */
.icon-thumbs-downed:before { content: '\e808'; } /* '' */
.icon-spin:before { content: '\e809'; } /* '' */
.icon-briefcase:before { content: '\e80a'; } /* '' */
.icon-history:before { content: '\e80b'; } /* '' */
.icon-rss:before { content: '\e80c'; } /* '' */
.icon-help:before { content: '\e80d'; } /* '' */
.icon-info:before { content: '\e80e'; } /* '' */
.icon-folder:before { content: '\e80f'; } /* '' */
.icon-folder-empty:before { content: '\e810'; } /* '' */
.icon-thumbs-down:before { content: '\e811'; } /* '' */
.icon-Google:before { content: '\e812'; } /* '' */
.icon-Bing:before { content: '\e813'; } /* '' */
.icon-Blekko:before { content: '\e814'; } /* '' */
.icon-trash:before { content: '\e815'; } /* '' */
.icon-thumbs-up:before { content: '\e816'; } /* '' */
.icon-bookmark:before { content: '\e818'; } /* '' */
.icon-bookmark-empty:before { content: '\e819'; } /* '' */
.icon-search-alt:before { content: '\e81a'; } /* '' */
.icon-search-circled:before { content: '\e81b'; } /* '' */
.icon-search:before { content: '\e81c'; } /* '' */
.icon-home:before { content: '\e81d'; } /* '' */
.icon-menu:before { content: '\e81e'; } /* '' */
.icon-cog:before { content: '\e81f'; } /* '' */