@font-face {
  font-family: 'pzzazz';
  src: url('../font/pzzazz.eot?2686411');
  src: url('../font/pzzazz.eot?2686411#iefix') format('embedded-opentype'),
       url('../font/pzzazz.woff?2686411') format('woff'),
       url('../font/pzzazz.ttf?2686411') format('truetype'),
       url('../font/pzzazz.svg?2686411#pzzazz') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'pzzazz';
    src: url('../font/pzzazz.svg?2686411#pzzazz') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "pzzazz";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-mail-empty:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-save:before { content: '\e803'; } /* '' */
.icon-upload:before { content: '\e804'; } /* '' */
.icon-tag:before { content: '\e805'; } /* '' */
.icon-videocam:before { content: '\e806'; } /* '' */
.icon-thumbs-uped:before { content: '\e807'; } /* '' */
.icon-thumbs-downed:before { content: '\e808'; } /* '' */
.icon-spin:before { content: '\e809'; } /* '' */
.icon-briefcase:before { content: '\e80a'; } /* '' */
.icon-history:before { content: '\e80b'; } /* '' */
.icon-rss:before { content: '\e80c'; } /* '' */
.icon-help:before { content: '\e80d'; } /* '' */
.icon-info:before { content: '\e80e'; } /* '' */
.icon-folder:before { content: '\e80f'; } /* '' */
.icon-folder-empty:before { content: '\e810'; } /* '' */
.icon-thumbs-down:before { content: '\e811'; } /* '' */
.icon-Google:before { content: '\e812'; } /* '' */
.icon-Bing:before { content: '\e813'; } /* '' */
.icon-Blekko:before { content: '\e814'; } /* '' */
.icon-trash:before { content: '\e815'; } /* '' */
.icon-thumbs-up:before { content: '\e816'; } /* '' */
.icon-bookmark:before { content: '\e818'; } /* '' */
.icon-bookmark-empty:before { content: '\e819'; } /* '' */
.icon-search-alt:before { content: '\e81a'; } /* '' */
.icon-search-circled:before { content: '\e81b'; } /* '' */
.icon-search:before { content: '\e81c'; } /* '' */
.icon-home:before { content: '\e81d'; } /* '' */
.icon-menu:before { content: '\e81e'; } /* '' */
.icon-cog:before { content: '\e81f'; } /* '' */